.navbar {
  position: sticky;
  top: 0;
  /* width: 100%; */
  z-index: 1000;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.4s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: #ffd369;
  transform: scale(1.05);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Mobile View */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px;
    padding: 1rem 0;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}
